body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #89cff0, #4682b4);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
h1 {
  text-align: center;
}
.data-entry {
  margin-top: 40px;
  text-align: center;
}
.city {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
}
label {
    font-size: 16px;
}
input, select {
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
}
button {
    padding: 10px;
    background: #0984e3;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}
button:hover {
    background: #74b9ff;
}
.city button:hover {
  background: #0c6bd6;
}
.weatherInfo {
  margin-top: 40px;
  background: rgba(255, 255, 255, 0.15);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
  backdrop-filter: blur(5px);
}
.weather-icon {
  width: 120px;
}